# Python
__pycache__/
*.py[cod]
*$py.class

# Playwright
/test-results/
/playwright-report/
/blob-report/

# Distribution / Packaging
dist/
build/
*.spec

# Project specific
videos/
*.mp4
browsers/
ms-playwright/

# VS Code
.vscode/
